.card{
    border: 1px solid gray;
    text-align: center;
    margin: 30px 0;
}

.card-img{
    background-color: gray;
    height: 150px;
}

.card-img-title{
    line-height: 150px;
    margin: 0;
}

.card-text{
    padding: 15px;
}

.card-title{
    font-size: 20px;
}

.card-footer{
    border-top: 1px solid gray;
    padding: 30px;
    background-color: rgb(189, 189, 189);
}

.card-footer .btn{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
}